<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Marvel Hero Index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F62DE8E1E9DCC8F0040ACD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F62DEA21E9DCC900040ACD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F62DEAD1E9DCC900040ACD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
